body {background-color: #483D8B;  text-align: center;}

div { 
      background-color:#eeeeee;
      height:-10px;
      width:1000px;
      margin:0 auto;
       }

input {
      height: 42px;
      width: 200px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


